/* .container-imeasada{
    display: flex;
    flex-direction: column; 
    gap: 1px;
    align-items: center;
    font-size: 25px;
    background-color: slategrey;
    
}

.botoes {
    display: flex;
    gap: 12px;
    margin-top: 5px;
    
}   

.btn{
    flex: 1;
    padding: 2px 10px;
    border-radius: 5px;
}

.credito{
    background-color: rgb(26, 177, 26);
    color: white;
}

.debito{
    background-color: red;
    color: white;
} */

.container-imeasada{
    background-color: darkturquoise;
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-imesada{
    background-color: teal;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000066;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botoes{
    display: flex;
    gap: 12px;
    margin-top: 5px;
    
}

.btn{
    flex: 1;
    padding: 2px 10px;
    border-radius: 5px;
}

.credito{
    background-color: rgb(26, 177, 26);
    color: white;
    cursor: pointer;
}

.debito{
    background-color: red;
    color: white;
}

.imagem-porco{
    width: 32px
}