.container{
    display: flex;
    flex-direction: column; 
    gap: 1px;
    align-items: center;
    font-size: 25px;
}

.acoes {
    display: flex;
    gap: 12px;
    margin-top: 5px;
    
}   

.btn{
    flex: 1;
    padding: 2px 10px;
    border-radius: 5px;
}

.credito{
    background-color: rgb(26, 177, 26);
    color: white;
}

.debito{
    background-color: red;
    color: white;
}